body {
  font-family:"Lato";
  font-size: 20px;
  font-weight: bold;

}

#wrapper {
  width:1000px;
  height:auto;
  margin-left:auto;
  margin-right:auto;
}

header {
  text-align: center;
}


h1{
  text-shadow: 3px 2px black;
  font-size: 65px;
  color: red;
  text-align: center;

}

section {
  background: url(https://image.shutterstock.com/z/stock-photo-abstract-polygonal-space-low-poly-dark-background-with-connecting-dots-and-lines-connection-503725969.jpg);
  font-weight: bold;
  color: red;
}


body h3 {
  text-shadow: 3px 2px blue;
  font-size: 45px;
  color: #000000;
}


body h4 {
  font-size: 35px;
  font-size: bold;
  color: #006400;
}

body h5 {
  font-size: 30px;
  color: #006400;
}

h2 {
  font-size: 50px;

  text-shadow: 3px 2px black;

}


h3 {
  background-color: #ff6366;
}

h4 {
  background-color: #ffff66;
}
h4 {

  background-color: #ff6366

}
h5 {
  background: #ff6366;
  font-size: 40px;
  color: #00bfff;


}
h6 {
  font-size: 40px;
  color: #006400;
  background-color: #bf00ff;

}
